#header,
.module h2, .module caption, .inline-group h2{
    background: #018786;
    color: #ffffff;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited{
    color: #ffffff;
}

div.breadcrumbs{
    background: #263238;
}
